ALLOWED_HOSTS=localhost
APP_URL=http://localhost:8000/
DATABASE_URL=psql://pg:@localhost/anova_dev

# email settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=alert@datalab.net
EMAIL_HOST_PASSWORD=jnffkycrqlcdzjxt
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=default from email

HOUR=00
MIN=00

ENV_NAME=Development

# tweet setting

API_ROUTE=https://api2.tweetbinder.com
STATS_ROUTE=https://s3.eu-west-1.amazonaws.com/stats.tweetbinder.com
NAME_TWEET=kronsoft
EMAIL_TWEET=ahmed.suliman@datalab.net
PASSWORD_TWEET=Ah009988

GOOGLE_SEARCH_SECRET_KEY=393d12e0788dd567e0afad66ef6c910255f897468b4355bae3d0230120273706

WHATSAPP_ACCESS_TOKEN=149f638fa052406cb2380c9ddcf2964caaa7f6063502471bb6
WHATSAPP_PHONE_NUMBER_ID=7103841792
TALKWALKER_TOKEN=acfaad27-3948-4e13-a617-2d33fd97552a_ZStqaRbxfzpRBT7YfbIqUPJPVwa2.QUzpFqzvPtKdHdc5UNZrYlHyk03MPxVkGKfZ6n3Y4i.meiy.FNZ621ZSmhzzb.gJAlvHtslEq7PP0B3JbDC4BS1y.hwK9fPz7vMQXvSfQFXka9.gEKovum-Pu0LYzy8GSjjSLvBdA1fV5M
REDIS_URL=redis://:2d5e304d8f4c1a823549b16d51517a2ef83f02b21126c3366084fc3e549234d1@dokku-redis-rds:6379

TIME_FOR_SCREENSHOT=1.0

