Django==4.0.6
django-webpack-loader
gunicorn==20.1.0
django-crispy-forms==1.14.0
Pillow==9.2.0
django-environ==0.9.0
psycopg2==2.9.3
djangorestframework==3.13.1
django-import-export==2.8.0
feedparser==6.0.10
selenium==4.4.3

celery==5.2.7
redis==4.3.4

django-celery-beat
django-celery-results

nltk
drf_writable_nested

django-countries-plus==2.1.0

langcodes==3.3.0
language_data

bs4

aspose-words==21.11.0 # convert docx to pdf (only Linux and Win)
python-docx # Reads, creates and writes docx
quickchart-io==1.0.1 #A Python client for the quickchart.io image charts web service.

rollbar==0.16.2

vaderSentiment==3.3.2
vader-multi==3.2.2.1 # multiple languages for vader

drf-yasg==1.21.4
