{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        <h1>Please enter (and confirm) your new password.</h1>
        <form action="" method="post">
        {% csrf_token %}
             {{form|crispy}}
            <div class="submit-form confirm-form">
             <button class="login-button" name="button" type="submit">Confirm</button>
            </div>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

    <script>
        document.getElementById("id_new_password1").placeholder = "Enter password"
        document.getElementById("id_new_password2").placeholder = "Enter password"
    </script>
{% endblock %}
