{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}

  {% endif %}
      <div class="auth">Forgot Password?</div>
      <div class="hint hint-reset-password">Please, enter your e-mail address. You will receive a link to create a new password via e-mail</div>

  {{form|crispy}}

      <div id="wrong_email" class="wrong-email-block">
          Wrong e-mail <img class="img-warning" src="../../static/img/Warning.svg" alt="warning">
      </div>

      <div class="submit-form">
          <a class="prev-page links" href="{% url 'login' %}">
              <img class="arrow" src="../../static/img/ArrowLeft.svg" alt="arrow"/>
              Back to Log in
          </a>
          <input type="submit" class="login-button" value="Send" onclick="validateEmail(form.id_email.value)">
      </div>
  </form>

  <script>
      document.getElementById("id_email").placeholder = "Enter your e-mail"
  </script>
{% endblock %}
