.logo {
    margin: 0 0 30px 40px;
}

.login-wrapper {
    display: flex;
}

.form-section {
    width: 50%;
    padding: 56px 101px 0 131px;
}

.form-wrapper {
    box-sizing: border-box;

    height: fit-content;
    width: 418px;
    padding: 60px 44px 94px 40px;
}

.auth {
    margin: 0 0 20px 0;

    color: #2B2A2A;
}

li, .hint {
    margin-bottom: 5px;

    color: #9198A7;
}

.hint-reset-password {
  margin-bottom: 40px;
}

.form {
    margin-top: 40px;
}

.dashboard {
    width: 50%;
    height: 100vh;
}

.input-field, .controls {
    position: relative;

    display: flex;
    flex-direction: column;
}

.input-label {
    display: flex;
    justify-content: space-between;
}

input, .input-form, .emailinput {
    height: 44px;
    padding-left: 19px;
    margin: 10px 0 20px;

    border: 1px solid #E6EAF1;
    border-radius: 7px;

    background: #FFFFFF;
}

input::placeholder {
    box-shadow: 0 4px 16px rgba(211, 218, 231, 0.2);
    border-radius: 4px;

    color: #9198A7;
}

input:focus {
    border: 1px solid #4490FF;
    outline: 0;
}

.forgot-password-link {
    text-decoration: none;

    color: #4490FF;
}

.eye-password {
    position: absolute;
    top: 39px;
    right: 17px;

    color: #9198A7;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    user-select: none;

    color: #9198A7;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;

    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;

    border: 1px solid #E6EAF1;
    border-radius: 0.25em;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #4490FF;
    background-color: #4490FF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.submit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirm-form {
    justify-content: flex-end;

    margin-top: 20px;
}

.login-button {
    align-self: flex-end;

    height: 44px;
    width: 148px;

    outline: inherit;

    border: 0;
    border-radius: 4px;

    color: #FFFF;
    background: #4490FF;
}

.arrow {
    margin-right: 7px;
}


@media screen and (min-width: 1400px) {
    .logo {
        margin: 0;
    }


    .form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1300px) {
    .login-wrapper {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .logo{
        margin: 0 0 60px 0;
    }

    .dashboard {
        display: none;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-wrapper {
        width: 100%;
        padding: 0;
    }
}


@media screen and (max-width: 1000px) {
    .form-section {
        width: 90%;
        padding: 50px 0 0 0;
    }
}

