@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
}

.auth {
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
}

.hint, .submit-form, input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
}

.input-label, .control-label {
   font-weight: 600;
   font-size: 14px;
   line-height: 110%;
}

.links {
    cursor: pointer;

    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;

    color: #4490FF;
}

