@font-face {
    font-family: 'Poppins-Black';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Light';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}


body {
    margin: 0;

    background: #ffffff;

    font-family: 'Poppins', sans-serif;
    color: #484C52;
}

p {
    margin: 0;
}

.hint, .submit-form, input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.input-label, .control-label {
   font-size: 14px;
   color: #29333D;
}

.links, .back-links {
    cursor: pointer;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #E54985;
}

.back-links {
    color: #29333D;
}

