@font-face {
    font-family: 'Poppins-Black';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Light';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}


  body {
    margin: 0;

    color: #ffffff;
    background: #1D1E1F;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
}

.auth {
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
}

.hint, .submit-form, input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
}

.input-label, .control-label {
   font-weight: 600;
   font-size: 14px;
   line-height: 110%;
   color: #FFFFFF;
}

.links {
    cursor: pointer;

    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;

    color: #055FFC;
}

