<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Datalab</title>
      <meta name="description" content="Free Web tutorials">
      <meta name="keywords" content="HTML, CSS, JavaScript">
      <meta name="author" content="John Doe">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- favicon -->
      <link rel="icon" type="image/x-icon" href="/images/">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/slick.css"/>
      <link rel="stylesheet" href="/static/css/slick-theme.css"/>
      <link rel="stylesheet" href="/static/css/landing-style.css">
   </head>
   <body>
      <div class="wrapper">
         <!--header start-->
         <header id="header">
            <nav class="navbar navbar-expand-lg p-0">
               <div class="container">
                  <div class="main-nav d-flex w-100 align-items-center">
                     <a class="navbar-brand p-0" href="/">
                     <img src="/static/images/logo.png" alt="logo">
                     </a>
                     <div class="collapse navbar-collapse w-100 justify-content-end" id="navbarNav">
                        <a href="contact/" class="main-btn top click-btn">Get Started</a>
                     </div>
                  </div>
               </div>
            </nav>
         </header>
         <!--header end-->
         <!--hero section start-->
         <section id="hero" class="main-pad">
            <div class="container">
               <div class="hero-inner text-center">
                  <h1 class="hero-title mb-4">Analyze + collaborate at the speed of social</h1>
                  <p>Get instant access to mentions across social media,news, blogs, videos, forums, podcasts, reviews, and more.</p>
                  <div class="banner-btn mb-4 mt-4">
                     <a href="contact/" class="main-btn">
                        Get Started 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </a>
                  </div>
                  <div class="banner-img">
                     <img class="w-100" src="/static/images/dashboard.png" alt="Dashboard">
                  </div>
               </div>
               <div class="social-details text-center">
                  <h5 class="main-title mb-4">All social media in one app</h5>
                  <div class="social-icons">
                     <ul>
                        <li><a href="#"><i class="fa-brands fa-twitter cttwitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram ctinstagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-f ctfacebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube ctyoutube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok cttiktok"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin ctlinkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-google ctgoogle"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
         <!--hero section end-->
         <!--explore section start-->
         <section id="explore" class="main-pad">
            <div class="container">
               <div class="explore-inner text-center">
                  <h5 class="main-title">Explore and have a whole<br> new experience</h5>
               </div>
               <div class="explore-cards-item">
                  <div class="explore-cards">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="card border-0">
                              <img src="/static/images/card1.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                 <h5 class="card-title">Analyse keyword from social media and news</h5>
                                 <p class="card-text">Whether you’re a beginner or pro, Datalab makes it easy.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-8">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="card border-0 account-card position-relative">
                                    <img src="/static/images/Picture.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">Account Analysis</h5>
                                       <p class="card-text">Whether you’re a beginner or pro, Datalab makes it easy.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="card border-0 report-card position-relative">
                                    <img src="/static/images/enve.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">Reports&Alerts</h5>
                                       <p class="card-text">Whether you’re a beginner or pro, Datalab makes it easy.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 mt-5 emoji-col">
                                 <div class="card border-0 buisness-card">
                                    <img src="/static/images/Projects Online.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">Comparison</h5>
                                       <p class="card-text">Whether you’re a beginner or pro, Datalab makes it easy.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 mt-5 emoji-col">
                                 <div class="card border-0 pt-0 emoji-card">
                                    <img src="/static/images/Card (5).png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">AI</h5>
                                       <p class="card-text">Whether you’re a beginner or pro, Datalab makes it easy.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--explore section end-->
         <!---acritical-section-start----->
         <section id="acritical" class="main-pad pt-0">
            <div class="container">
               <div class="row">
                  <div class="col-lg-7 ">
                     <div class="main-acritical">
                        <div class="acritical-row">
                           <div class="row">
                              <div class="col-md-10">
                                 <nav>
                                    <div class="tab-system nav nav-tabs" id="nav-tab" role="tablist">
                                       <button type="button" class=" tab-1 active nav-link" >Account Activities</button>
                                       <button type="button" class="tab-2 nav-link"  >Mentions</button>
                                    </div>
                                 </nav>
                              </div>
                              <div class="col-md-2">
                                 <div class="message-svg ">
                                    <img src="/static/images/svg-gobbler .svg" alt="..."/>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-2 pe-0">
                              <div class="tabs-icons">
                                 <ul>
                                    <li><a href="#"><img src="/static/images/Twitter.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/Instagram.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/Facebook.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/Youtube.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/TikTok.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/linkedin.png" class="linkedin-image"></a></li>
                                    <li><a href="#"><img src="/static/images/google.png" ></a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-10 ps-0">
                              <div class="tab-image1">
                                 <img class="w-100"src="/static/images/Demography.png" alt="..."/>
                              </div>
                              <div class="tab-image2">
                                 <img class="w-100"src="/static/images/Optimization.png" alt="..."/>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5">
                     <div class="acritical-data">
                        <h5 class="acritical-title fw-bold">Never miss acritical mention</h5>
                        <p class="acritical-text">Get instant access to mentions across social media, news, blogs, videos, forums, podcasts, reviews, and more.</p>
                        <div class="acritical-list">
                           <div class="monitor-brands d-flex">
                              <div class="frame-image">
                                 <img src="/static/images/Frame.svg" alt="...">
                              </div>
                              <div class="frame-text">
                                 <h5 class="fw-bold">Monitor brands</h5>
                                 <p>Gather insights from 25 million online sources, tracked in real-time.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (1).svg" alt="...">
                              </div>
                              <div class="frame-text">
                                 <h5 class="fw-bold">Analyze sentiment</h5>
                                 <p>Use advanced sentiment analysis to segment positive, negative, or neutral mentions.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (2).svg" alt="...">
                              </div>
                              <div class="frame-text">
                                 <h5 class="fw-bold">Create reports</h5>
                                 <p>Measure and report your PR coverage.</p>
                              </div>
                           </div>
                        </div>
                        <div class="banner-btn mb-4 mt-4">
                           <a href="contact/" class="main-btn">
                              Get Started 
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--acritical-section-end---->
         <!---reliable-matrices start--->
         <section id="reliable" class="main-pad pt-0">
            <div class="container">
               <div class="main-reliable">
                  <div class="row">
                     <div class="col-lg-5">
                        <div class="acritical-data">
                           <h5 class="acritical-title fw-bold">Getpowerful, reliable metrics</h5>
                           <p class="acritical-text">Measure brand awareness and presence. Track reach and engagement using our state-of-the-art technology.</p>
                           <div class="acritical-list">
                              <div class="frame-text reliable-text">
                                 <h5 class="fw-bold">Track reach</h5>
                                 <p>Evaluate marketing efforts and benchmark against competitors.</p>
                              </div>
                              <div class="frame-text frame-text2 reliable-text">
                                 <h5 class="fw-bold">Measure awareness</h5>
                                 <p>Identify the reach and importance of mentions. Filter out the noise, and focus on what matters.</p>
                              </div>
                              <div class="frame-text frame-text3 reliable-text">
                                 <h5 class="fw-bold">Automate reporting</h5>
                                 <p>Share statistics and insights with your team.</p>
                              </div>
                           </div>
                           <div class="banner-btn mb-4 mt-4">
                              <a href="contact/" class="main-btn">
                                 Get Started 
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                 </svg>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-7">
                        <div class="reliable-image">
                           <img class="w-100" src="/static/images/Mockup.png" alt="..."/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---reliable-matrices end--->
         <!---customer-insights start--->
         <section id="customer-insights" class="main-pad pt-0">
            <div class="container">
               <div class="row">
                  <div class="col-lg-7">
                     <div class="customer-cards-img">
                        <img class="w-100" src="/static/images/image.png"alt="..."/> 
                     </div>
                  </div>
                  <div class="col-lg-5">
                     <div class="acritical-data">
                        <h5 class="acritical-title fw-bold">Access customer insights</h5>
                        <p class="acritical-text">Learn from online conversations about your company. Get access to honest consumer feedback.</p>
                        <div class="acritical-list">
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg"/>
                              </div>
                              <div class="frame-text reliable-text customer-text ">
                                 <h5 class="fw-bold">Get to know your customers</h5>
                                 <p>Learn what people like or dislike about your company.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg"/>
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Decide based on data</h5>
                                 <p>Use customer insights to make informed business decisions that resonate with your audience.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg"/>
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Collaborate</h5>
                                 <p>Share insights across your organization.</p>
                              </div>
                           </div>
                        </div>
                        <div class="banner-btn mb-4 mt-4">
                           <a href="contact/" class="main-btn">
                              Get Started 
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---customer-insights end--->
         <!--products-details start-->
         <section id="products-details" class="main-pad">
            <div class="container">
               <div class="products-data mb-5">
                  <h5 class="acritical-title fw-bold text-center ">Datalab Reviews & Product Details</h5>
                  <p class="acritical-text text-center products-text">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus.</p>
               </div>
               <div class="regular-slider slider">
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring.png" alt="..."/>
                           <span>Rink's</span>
                        </div>
                        <p  class="pt-2">“I've been using Datalab for the year and it is by far the best monitoring tool on the market!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591.svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Lorri Warf</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring (2).png" alt="..."/>
                           <span>Bugle Boy</span>
                        </div>
                        <p  class="pt-2">“I STRONGLY recommend it to EVERYONE interested in running a successful business!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (1).svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>David Elson</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring.png" alt="..."/>
                           <span>Rink's</span>
                        </div>
                        <p class="pt-2">“I love it. I made back the purchaise price in just 48 hours!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591.svg" alt="..." class="mt-4"/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Lorri Warf</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/Vector.svg" alt="..."/>
                           <span>Finast</span>
                        </div>
                        <p  class="pt-2">“It’s all good. Man, this thing is getting better and better as I learn more about it.”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (2).svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Daniel Hamilton</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring (2).png"" alt="..."/>
                           <span>Britches</span>
                        </div>
                        <p  class="pt-2">“I've been using Datalab for the year and it is by far the best monitoring tool on the market!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (3).svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Rhonda Rhodes</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring .png" alt="..."/>
                           <span>Giant</span>
                        </div>
                        <p  class="pt-2">“I love it. I made back the purchaise price in just 48 hours!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (4).svg" alt="..." class="mt-4"/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Kathy Pacheco</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---track hashtags start--->
         <section id="track-hashtag" class="main-pad">
            <div class="container">
               <h5 class="acritical-title fw-bold text-center ">Track hashtags.</h5>
               <p class="acritical-text text-center track-text">Track various hashtags and find influencers. Measure the effects of a hashtag campaign, like reach and engagement.</p>
               <div div class="row">
                  <div class="col-12">
                     <div class="track-tabs py-4">
                        <button type="button" class="track-tab1 active">Measure hashtag reach</button>
                        <button type="button" class="track-tab2">Measure hashtag volume</button>
                        <button type="button" class="track-tab3">Your text here</button>
                     </div>
                  </div>
                  <div class="col-12">
                     <div class="tab-content">
                        <!-- here you can add images-->
                        <div class="track-image1">
                           <img class="w-100" src="/static/images/Frame 48096446.png" alt="..."/>
                        </div>
                        <div class="track-image2">
                           <img class="w-100" src="/static/images/dashboard.png" alt="..."/>
                        </div>
                        <div class="track-image3">
                           <img class="w-100" src="/static/images/Frame 48096446.png" alt="..."/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--track hashtags end--->
         <!---buzzword-section----->
         <section id="buzzword" class="main-pad">
            <div class="container">
               <div class="row">
                  <div class="col-lg-5">
                     <div class="acritical-data data">
                        <h5 class="acritical-title fw-bold">AI-powered is not just a buzzword.</h5>
                        <p class="acritical-text">Our AI "definitely gets sarcasm." Get it? We've just used sarcasm to talk about sarcasm. Take that AI. Honestly, though, Artificial Intelligence helps you make sense of the data to save you time.</p>
                        <div class="acritical-list">
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg">
                              </div>
                              <div class="frame-text reliable-text customer-text ">
                                 <h5 class="fw-bold">Get to know your customers</h5>
                                 <p>Learn what people like or dislike about your company.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg">
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Decide based on data</h5>
                                 <p>Use customer insights to make informed business decisions that resonate with your audience.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg">
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Collaborate</h5>
                                 <p>Share insights across your organization.</p>
                              </div>
                           </div>
                        </div>
                        <div class="banner-btn mb-4 mt-4">
                           <a href="contact/" class="main-btn">
                              Get Started 
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-7">
                     <div class="customer-cards-img">
                        <img class="w-100" src="/static/images/Frame 48096442.png" alt="..."> 
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---buzzword-section end----->
         <!---adaptive layout start-->
         <section id="adaptive-layout" class="main-pad pt-0">
            <div class="container">
               <div class="adaptive-data">
                  <h5 class="acritical-title fw-bold text-center ">Adaptive layout</h5>
                  <p class="acritical-text text-center layout-text">Responsive design is an approach to web design in which the interface adapts to the device's layout, facilitating usability, navigation and information seeking.</p>
               </div>
               <div class="row">
                  <div class="col-md-7">
                     <div class="border-0 layout-card">
                        <div class=" layout-body">
                           <h5 class="acritical-title fw-bold layout-title">Desktop compatibility</h5>
                           <p class="card-text pe-4 mt-3">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Maecenas dignissim justo eget nulla rutrum molestie.</p>
                        </div>
                        <div class="layout-image">
                           <img class="w-100" src="/static/images/image copy.png"  alt="...">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5 position-relative layout-col">
                     <div class="layout-card">
                        <div class="layout-body">
                           <h5 class="acritical-title fw-bold layout-title">Mobile friendly</h5>
                           <p class="card-text pe-4 mt-3">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Maecenas dignissim justo eget nulla rutrum molestie.</p>
                        </div>
                        <div class="graphite-image">
                           <img class=" w-100"src="/static/images/mobile.png"  alt="...">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---adaptive layout end-->
         <!--book-meeting start-->
         <section id="footer-section" class="main-pad pt-0">
            <div class="container ">
               <div class="footer">
                  <div class="row">
                     <div class="col-md-5">
                        <div class="footer-body">
                           <div class="footer-text">
                              <h5 class="acritical-title fw-bold layout-title footer-title">Book a meeting to get started</h5>
                              <p class="card-text pe-4 mt-3">Fill out the form to pick your time from the calendar and book a meeting.</p>
                           </div>
                           <div class="banner-btn mt-4">
                              <a href="contact/" class="main-btn">
                                 Get Started 
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                 </svg>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="footer-image">
                           <img class="w-100"src="/static/images/footer.png"/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <p class="text-center">© 2023-2024 Datalab. All rights reserved</p>
      </div>
      <script src="/static/js/jquery_3.6.4_jquery.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/slick.js"></script>
      <script>
         $(".tab-1").click(function(){
         	$(".tab-1").addClass("active");
         	$(".tab-2").removeClass("active");
         	$(".tab-image1").show();
         	$(".tab-image2").hide();
         });
         $(".tab-2").click(function(){
         	$(".tab-1").removeClass("active");
         	$(".tab-2").addClass("active");
         	$(".tab-image1").hide();
         	$(".tab-image2").show();
         });
         
         $(".track-tab1").click(function(){
         	$(".track-tab1").addClass("active");
         	$(".track-tab2").removeClass("active");
         	$(".track-tab3").removeClass("active");
         	$(".track-image1").show();
         	$(".track-image2").hide();
         	$(".track-image3").hide();
         });
         $(".track-tab2").click(function(){
         	$(".track-tab1").removeClass("active");
         	$(".track-tab2").addClass("active");
         	$(".track-tab3").removeClass("active");
         	$(".track-image1").hide();
         	$(".track-image2").show();
         	$(".track-image3").hide();
         });
         $(".track-tab3").click(function(){
         	$(".track-tab1").removeClass("active");
         	$(".track-tab2").removeClass("active");
         	$(".track-tab3").addClass("active");
         	$(".track-image1").hide();
         	$(".track-image2").hide();
         	$(".track-image3").show();
         });
      </script>
      <script>
         $('.regular-slider').slick({
         	autoplay:true,
         	dots: false,
         	arrows:false,
         	infinite: true,
         	speed:500,
         	slidesToShow:3,
         	slidesToScroll: 1,
			
         	responsive : [
         	 {
         		breakpoint:1024,
         		settings: {
         			slidesToShow:2,
         			 slidesToScroll:1
         		}
         	 },
         	 {
         		breakpoint:768,
         		settings: {
         			slidesToShow:1,
         			 slidesToScroll:1
         		}
         	 },
         	 ]
         	});
			
      </script>
   </body>
</html>
