<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Datalab</title>
      <meta name="description" content="Free Web tutorials">
      <meta name="keywords" content="HTML, CSS, JavaScript">
      <meta name="author" content="John Doe">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- favicon -->
      <link rel="icon" type="image/x-icon" href="/images/">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/slick.css"/>
      <link rel="stylesheet" href="/static/css/slick-theme.css"/>
      <link rel="stylesheet" href="/static/css/landing-style.css">
   </head>
   <body>
      <div class="wrapper">
         <!--header start-->
         <header id="header">
            <nav class="navbar navbar-expand-lg p-0">
               <div class="container">
                  <div class="main-nav d-flex w-100 align-items-center">
                     <a class="navbar-brand p-0" href="/">
                     <img src="/static/images/logo.png" alt="logo">
                     </a>
                     <div class="collapse navbar-collapse w-100 justify-content-end" id="navbarNav">
                        <a href="ar/" class="ctlang-btn" lang="ar">
						<img src="/static/images/ar.png" alt="ar">
						العربية
						</a>
                        <a href="contact/" class="main-btn top click-btn ctmobile">Get Started</a>
                     </div>
                  </div>
               </div>
            </nav>
         </header>
         <!--header end-->
         <!--hero section start-->
         <section id="hero" class="main-pad">
            <div class="container">
               <div class="hero-inner text-center">
                  <h1 class="hero-title mb-4">Data Lab: Your trusted platform for analytical and automation solutions for your business</h1>
                  <p>      We are helping you to understand the public's general perception of your brand, and paying attention to their comments and opinions with great accuracy. Whether you are seeking to strengthen your commercial position or examine competitors' interaction, We're here to help you.</p>
                  <div class="banner-btn mb-4 mt-4">
                     <a href="contact/" class="main-btn">
                        Start the experience 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </a>
                  </div>
                  <div class="banner-img">
                     <img class="w-100" src="/static/images/dashboard.png" alt="Dashboard">
                  </div>
               </div>
               <div class="social-details text-center">
                  <h5 class="main-title mb-4">We offer you a central interface to communicate with all social media, grouped into one appliciton for ease of use</h5>
                  <div class="social-icons">
                     <ul>
                        <li><a href="#"><i class="fa-brands fa-twitter cttwitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram ctinstagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-f ctfacebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube ctyoutube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok cttiktok"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin ctlinkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-google ctgoogle"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
         <!--hero section end-->
         <!--explore section start-->
         <section id="explore" class="main-pad">
            <div class="container">
               <div class="explore-inner text-center">
                  <h5 class="main-title">Our Solution Set to Improve Customer Experience</h5>
               </div>
               <div class="explore-cards-item">
                  <div class="explore-cards">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="card border-0">
                              <img src="/static/images/card1.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                 <h5 class="card-title">Media and news keywords  analysis</h5>
                                 <p class="card-text">We provide you with a detailed analysis of the keywords used in social media and news, enabling you to understand the main trends and themes and giving you valuable insights into common topics.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-8">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="card border-0 account-card position-relative">
                                    <img src="/static/images/Picture.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">Social media accounts performance analysis</h5>
                                       <p class="card-text">We provide you with detailed analysis of your social media accounts, enabling you to investigate your performance and understand how your audience interacts.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="card border-0 report-card position-relative">
                                    <img src="static/images/enve.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">Provide you with important reports and notifications (alerts)</h5>
                                       <p class="card-text">We provide you with structured reports and periodic notifications to monitor and review your performance and to constantly stay up to date, which will helps you In making the right decisions</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 mt-5 emoji-col">
                                 <div class="card border-0 buisness-card">
                                    <img src="static/images/Projects Online.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">Analytical comparison</h5>
                                       <p class="card-text">We offer a detailed comparisons and accurate analyses to provide you with a comprehensive look and help you make the right decisions.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 mt-5 emoji-col">
                                 <div class="card border-0 pt-0 emoji-card">
                                    <img src="/static/images/Card (5).png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                       <h5 class="card-title">The Use of Advanced Technologies: deepen your analysis with AI</h5>
                                       <p class="card-text">We apply AI technologies to help you extract maximum value from data and understand the complex aspects of audience interaction.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--explore section end-->
         <!---acritical-section-start----->
         <section id="acritical" class="main-pad pt-0">
            <div class="container">
               <div class="row">
                  <div class="col-lg-7 ">
                     <div class="main-acritical">
                        <div class="acritical-row">
                           <div class="row">
                              <div class="col-md-10">
                                 <nav>
                                    <div class="tab-system nav nav-tabs" id="nav-tab" role="tablist">
                                       <button type="button" class=" tab-1 active nav-link" >Account Activities</button>
                                       <button type="button" class="tab-2 nav-link"  >Mentions</button>
                                    </div>
                                 </nav>
                              </div>
                              <div class="col-md-2">
                                 <div class="message-svg ">
                                    <img src="/static/images/svg-gobbler .svg" alt="..."/>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-2 pe-0">
                              <div class="tabs-icons">
                                 <ul>
                                    <li><a href="#"><img src="/static/images/Twitter.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/Instagram.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/Facebook.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/Youtube.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/TikTok.svg"></a></li>
                                    <li><a href="#"><img src="/static/images/linkedin.png" class="linkedin-image"></a></li>
                                    <li><a href="#"><img src="/static/images/google.png" ></a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-10 ps-0">
                              <div class="tab-image1">
                                 <img class="w-100"src="/static/images/Demography.png" alt="..."/>
                              </div>
                              <div class="tab-image2">
                                 <img class="w-100"src="/static/images/Optimization.png" alt="..."/>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5">
                     <div class="acritical-data">
                        <h5 class="acritical-title fw-bold"> Dont miss on any critical comment</h5>
						<!--h5 class="ctsubheading">Find out your custmoers thoughts of you We record it thoroughly and analyze it carefully to help you comprehend the views of your brand followers.</h5-->
                        <p class="acritical-text">Datalab helps you instantly and accurately understand your audience's public perception and feedback about your brand and competitors. Through signals of social media, news, blogs and video clips forums, podcasts, reviews and more.</p>
                        <div class="acritical-list">
                           <div class="monitor-brands d-flex">
                              <div class="frame-image">
                                 <img src="/static/images/Frame.svg" alt="...">
                              </div>
                              <div class="frame-text">
                                 <h5 class="fw-bold">Brand Monitoring</h5>
                                 <p>We collect valuable information from over 25 million online sources, and track these at the real time to give you an up-to-date and comprehensive insights.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (1).svg" alt="...">
                              </div>
                              <div class="frame-text">
                                 <h5 class="fw-bold">Sentiment Analysis</h5>
                                 <p>Take advantage of advanced sentiment analysis to classify references to positive, negative, or neutral, to understand deeper public conditions and interactions.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (2).svg" alt="...">
                              </div>
                              <div class="frame-text">
                                 <h5 class="fw-bold">Creating Reports</h5>
                                 <p>We create reports that help measure and document your Public Relations coverage and submission of accurate and detailed reports of PR.</p>
                              </div>
                           </div>
                        </div>
                        <div class="banner-btn mb-4 mt-4">
                           <a href="contact/" class="main-btn">
                              Register your information now  
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--acritical-section-end---->
         <!---reliable-matrices start--->
         <section id="reliable" class="main-pad pt-0">
            <div class="container">
               <div class="main-reliable">
                  <div class="row">
                     <div class="col-lg-5">
                        <div class="acritical-data">
                           <h5 class="acritical-title fw-bold cttitle"> Get a strong and reliable analyses to measure your success (or performance)</h5>
                           <p class="acritical-text">Assess your brand's level of presence or brand awareness. We monitor and analyze the proportion of access and public participation using the latest technologies.</p>
                           <div class="acritical-list">
                              <div class="frame-text reliable-text">
                                 <h5 class="fw-bold">Track your brand's reach</h5>
                                 <p>Measuring marketing efforts and comparing with competitors.</p>
                              </div>
                              <div class="frame-text frame-text2 reliable-text">
                                 <h5 class="fw-bold">Measuring Awareness</h5>
                                 <p>Stay familiar with all signs related to your brand or competitors.</p>
                              </div>
                              <div class="frame-text frame-text3 reliable-text">
                                 <h5 class="fw-bold">Automation of reports</h5>
                                 <p>Share accurate statistical data and analysis with your team members with ease.</p>
                              </div>
                           </div>
                           <div class="banner-btn mb-4 mt-4">
                              <a href="contact/" class="main-btn">
                                  Start the experiment
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                 </svg>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-7">
                        <div class="reliable-image">
                           <img class="w-100" src="/static/images/Mockup.png" alt="..."/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---reliable-matrices end--->
         <!---customer-insights start--->
         <section id="customer-insights" class="main-pad pt-0">
            <div class="container">
               <div class="row">
                  <div class="col-lg-7">
                     <div class="customer-cards-img">
                        <img class="w-100" src="/static/images/image.png"alt="..."/> 
                     </div>
                  </div>
                  <div class="col-lg-5">
                     <div class="acritical-data">
                        <h5 class="acritical-title fw-bold cttitle">Understand Your Customers' Orientations - Explore Your Customers' Insights</h5>
                        <p class="acritical-text">Beneifting of online conversations about your company and get honest reviews from customers.</p>
                        <div class="acritical-list">
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg"/>
                              </div>
                              <div class="frame-text reliable-text customer-text ">
                                 <h5 class="fw-bold">Get to know your customers</h5>
                                 <p>We monitor and analyze customer interactions online and help you understand their preferences towards your company.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg"/>
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Rely on data to make your decisions</h5>
                                 <p>Beneifting of customer insights to make effective decisions and you will  receive endorsement from your audience.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg"/>
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Enhancing internal communication - enhancing cooperation</h5>
                                 <p>Exchange ideas and insights within your organization</p>
                              </div>
                           </div>
                        </div>
                        <div class="banner-btn mb-4 mt-4">
                           <a href="contact/" class="main-btn">
                              Start the journey
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---customer-insights end--->
         <!--products-details start-->
         <section id="products-details" class="main-pad">
            <div class="container">
               <div class="products-data mb-5">
                  <h5 class="acritical-title fw-bold text-center ">Our customer satisfaction level for our services</h5>
                  <!--p class="acritical-text text-center products-text">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus.</p-->
               </div>
               <div class="regular-slider slider">
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring.png" alt="..."/>
                           <span>Rink's</span>
                        </div>
                        <p  class="pt-2">“I've been using Datalab for the year and it is by far the best monitoring tool on the market!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591.svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Lorri Warf</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring (2).png" alt="..."/>
                           <span>Bugle Boy</span>
                        </div>
                        <p  class="pt-2">“I STRONGLY recommend it to EVERYONE interested in running a successful business!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (1).svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>David Elson</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring.png" alt="..."/>
                           <span>Rink's</span>
                        </div>
                        <p class="pt-2">“I love it. I made back the purchaise price in just 48 hours!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591.svg" alt="..." class="mt-4"/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Lorri Warf</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/Vector.svg" alt="..."/>
                           <span>Finast</span>
                        </div>
                        <p  class="pt-2">“It’s all good. Man, this thing is getting better and better as I learn more about it.”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (2).svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Daniel Hamilton</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring (2).png"" alt="..."/>
                           <span>Britches</span>
                        </div>
                        <p  class="pt-2">“I've been using Datalab for the year and it is by far the best monitoring tool on the market!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (3).svg" alt="..."/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Rhonda Rhodes</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
                  <div class="testimonial-item">
                     <div class="testimonial-card">
                        <div class="testimonial-title">
                           <img src="/static/images/game-icons_cloud-ring .png" alt="..."/>
                           <span>Giant</span>
                        </div>
                        <p  class="pt-2">“I love it. I made back the purchaise price in just 48 hours!”</p>
                        <div class="testimonial-image">
                           <img src="/static/images/Ellipse 591 (4).svg" alt="..." class="mt-4"/>
                        </div>
                        <div class="testimonial-data">
                           <h5>Kathy Pacheco</h5>
                           <p>President of Sales</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---track hashtags start--->
         <section id="track-hashtag" class="main-pad">
            <div class="container">
               <h5 class="acritical-title fw-bold text-center ">Track hashtags and find out what your followers thinks of you</h5>
               <p class="acritical-text text-center track-text">Maintain your reputation (be at the forefront of managing your reputation) by proactively monitoring and tracking hashtags.</p>
               <p class="acritical-text text-center track-text">Measuring the effects of the hashtag campaign, including its scope and participation. Monitor and analyze participating influencers and your audience's comments immediately.</p>
               <div div class="row">
                  <div class="col-12">
                     <div class="track-tabs py-4">
                        <button type="button" class="track-tab1 active">Tracking (Access) Hashtags</button>
                        <button type="button" class="track-tab2">Assess the size of hashtags</button>
                        <button type="button" class="track-tab3">Your text here</button>
                     </div>
                  </div>
                  <div class="col-12">
                     <div class="tab-content">
                        <!-- here you can add images-->
                        <div class="track-image1">
                           <img class="w-100" src="/static/images/Frame 48096446.png" alt="..."/>
                        </div>
                        <div class="track-image2">
                           <img class="w-100" src="/static/images/dashboard.png" alt="..."/>
                        </div>
                        <div class="track-image3">
                           <img class="w-100" src="/static/images/Frame 48096446.png" alt="..."/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--track hashtags end--->
         <!---buzzword-section----->
         <section id="buzzword" class="main-pad">
            <div class="container">
               <div class="row">
                  <div class="col-lg-5">
                     <div class="acritical-data data">
                        <p class="acritical-text">Move towards the future of automation for your business</p>
                        <h5 class="acritical-title fw-bold cttitle">Data Lab: Your trusted platform for analytical and automation solutions for your business</h5>
                        <!--p class="acritical-text">Our AI "definitely gets sarcasm." Get it? We've just used sarcasm to talk about sarcasm. Take that AI. Honestly, though, Artificial Intelligence helps you make sense of the data to save you time.</p-->
                        <div class="acritical-list">
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg">
                              </div>
                              <div class="frame-text reliable-text customer-text ">
                                 <h5 class="fw-bold">A Comprehensive Corporates Solution</h5>
                                 <p>Take your company to new heights using Data Lab visions. Track and understand customers' trends and preferences, analyze their behaviors, and discover more important aspects, such as marketing, public relations and social media.</p>
                                 <p>Keep your lead, make thoughtful decisions and achieve amazing results.</p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg">
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Solutions for public sector enterprises</h5>
                                 <p>Proactively manage your organization's reputation with Data Lab's advanced monitoring tools. Stay ahead and respond quickly to emerging issues and public sentiment, effectively mitigating potential crises.</p>
                                 <p>Gain a deeper understanding of your audience, and enhance your organization's potential with a comprehensive media monitoring solution from Data Lab.  </p>
                              </div>
                           </div>
                           <div class="monitor-brands d-flex customer-brands">
                              <div class="frame-image">
                                 <img src="/static/images/Frame (3).svg">
                              </div>
                              <div class="frame-text reliable-text customer-text">
                                 <h5 class="fw-bold">Agencies Solutions</h5>
                                 <p>Exceed your customers' expectations with DataLab's media monitoring tool, your agency will reach new heights, providing accurate insights and analysis.</p>
                                 <p>From social media monitoring to influencer marketing and more..</p>
                              </div>
                           </div>
                        </div>
                        <div class="banner-btn mb-4 mt-4">
                           <a href="contact/" class="main-btn">
                              Register your information now 
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-7">
                     <div class="customer-cards-img">
                        <img class="w-100" src="/static/images/Frame 48096442.png" alt="..."> 
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---buzzword-section end----->
         <!---adaptive layout start-->
         <section id="adaptive-layout" class="main-pad pt-0">
            <div class="container">
               <div class="adaptive-data">
                  <h5 class="acritical-title fw-bold text-center ">The Usage interface is adaptable to your preference</h5>
                  <p class="acritical-text text-center layout-text">The usage interface is easy and adaptable to your choice. It features a responsive design where the user interface automatically adapts to the layout of the user device. This makes the process of using, navigating and searching for information easy and convenient.</p>
               </div>
               <div class="row">
                  <div class="col-md-7">
                     <div class="border-0 layout-card">
                        <div class=" layout-body">
                           <h5 class="acritical-title fw-bold layout-title">Complete compatibility of the usage interface with the desktop</h5>
                           <p class="card-text pe-4 mt-3">The user interface works efficiently and is compatible with your device to facilitate your use of the platform with ease </p>
                        </div>
                        <div class="layout-image">
                           <img class="w-100" src="/static/images/image copy.png"  alt="...">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5 position-relative layout-col">
                     <div class="layout-card">
                        <div class="layout-body">
                           <h5 class="acritical-title fw-bold layout-title">Usage interface compatibility with your mobile</h5>
                           <p class="card-text pe-4 mt-3">Both of the user interface and our interface are fully compatible with mobile devices to enable you to access content and features. Easily wherever you are and whenever you want.</p>
                        </div>
                        <div class="graphite-image">
                           <img class=" w-100"src="/static/images/mobile.png"  alt="...">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!---adaptive layout end-->
         <!--book-meeting start-->
         <section id="footer-section" class="main-pad pt-0">
            <div class="container ">
               <div class="footer">
                  <div class="row">
                     <div class="col-md-5">
                        <div class="footer-body">
                           <div class="footer-text">
                              <h5 class="acritical-title fw-bold layout-title footer-title"> Choose a date for our meeting  - Register your information now to book an appointment</h5>
                              <p class="card-text pe-4 mt-3">Book your meeting easily with our team, choose the suitable time from the available calendar.</p>
                           </div>
                           <div class="banner-btn mt-4">
                              <a href="contact/" class="main-btn">
                                 Register your information with us 
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6 18L18 6M18 6V16.8M18 6H7.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                 </svg>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="footer-image">
                           <img class="w-100"src="/static/images/footer.png"/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <p class="text-center">© 2023-2024 Datalab. All rights reserved</p>
      </div>
      <script src="/static/js/jquery_3.6.4_jquery.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/slick.js"></script>
      <script>
         $(".tab-1").click(function(){
         	$(".tab-1").addClass("active");
         	$(".tab-2").removeClass("active");
         	$(".tab-image1").show();
         	$(".tab-image2").hide();
         });
         $(".tab-2").click(function(){
         	$(".tab-1").removeClass("active");
         	$(".tab-2").addClass("active");
         	$(".tab-image1").hide();
         	$(".tab-image2").show();
         });
         
         $(".track-tab1").click(function(){
         	$(".track-tab1").addClass("active");
         	$(".track-tab2").removeClass("active");
         	$(".track-tab3").removeClass("active");
         	$(".track-image1").show();
         	$(".track-image2").hide();
         	$(".track-image3").hide();
         });
         $(".track-tab2").click(function(){
         	$(".track-tab1").removeClass("active");
         	$(".track-tab2").addClass("active");
         	$(".track-tab3").removeClass("active");
         	$(".track-image1").hide();
         	$(".track-image2").show();
         	$(".track-image3").hide();
         });
         $(".track-tab3").click(function(){
         	$(".track-tab1").removeClass("active");
         	$(".track-tab2").removeClass("active");
         	$(".track-tab3").addClass("active");
         	$(".track-image1").hide();
         	$(".track-image2").hide();
         	$(".track-image3").show();
         });
      </script>
      <script>
         $('.regular-slider').slick({
         	autoplay:true,
         	dots: false,
         	arrows:false,
         	infinite: true,
         	speed:500,
         	slidesToShow:3,
         	slidesToScroll: 1,
			
         	responsive : [
         	 {
         		breakpoint:1024,
         		settings: {
         			slidesToShow:2,
         			 slidesToScroll:1
         		}
         	 },
         	 {
         		breakpoint:768,
         		settings: {
         			slidesToShow:1,
         			 slidesToScroll:1
         		}
         	 },
         	 ]
         	});
			
      </script>
   </body>
</html>